.Nav {
  text-align: left;
  float: left;
}
  
.Nav a:link {
  text-decoration: none;
}

.Nav a:visited {
  text-decoration: none;
  color: blue;
}

.Nav a:active {
  color: black;
}
  
.Nav li a {
  position: relative;
  display: inline;
}

.Nav li Link {
  position: relative;
  display: inline;
}
  
.Nav li {
  display: inline;
   padding: 5px;
}