.Nav {
  text-align: left;
  float: left;
}
  
.Nav a:link {
  text-decoration: none;
}
  
.Nav li a {
  position: relative;
  display: inline;
}

.Nav li Link {
  position: relative;
  display: inline;
}
  
.Nav li {
  display: inline;
   padding: 5px;
}
  
.Nav a:hover {
  border-bottom: 2px solid blue;
}